<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="line title">
                    <a href="/"><h1>lausan<span>@home</span></h1></a>
                    <div class="title-cursor"></div>
                </div>
                <nav>
                    <a href="/projects">projects</a>
                    <a href="#">art</a>
                    <a href="#">blog</a>
                    <a href="#">about</a>
                    <a href="#">fun_stuff</a>
                </nav>
            </header>
            <div class="container">
                <aside></aside>
                <main>
                    {{ content }}
                </main>
                <aside></aside>
            </div>
            <footer>
                Temporary footer :)
            </footer>
        </div>
    </body>
</html>
