.wrapper {
    width: clamp(30ch, 80%, 120ch);
    min-height: 100vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gaps);
    padding-block: var(--gaps);
}

header,
main,
aside {
    background: var(--clr-surface);
    border: 2px solid var(--clr-border);
    padding: calc(var(--spacing) * 2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex: 1;
    gap: var(--gaps);
    align-items: flex-start;
}

main {
    flex: 4;
    // padding-top: calc(var(--spacing) * 4);
}

aside {
    flex: 1;
}

footer {
    text-align: center;
    color: var(--clr-txt-dimmed);
    padding-block: var(--spacing);
}
