@use 'reset';
@use 'typography';
@use 'formatting';
@use 'layout';
@use 'components';

:root {
    --clr-bg: #000;
    --clr-surface: #3333dd11;
    --clr-txt-main: #fafafa;
    --clr-txt-dimmed: #aaf8;
    --clr-primary: #55f;
    --clr-secondary: #f5f;
    --clr-border: #55f7;

    --spacing: 0.5rem;
    --gaps: calc(var(--spacing) * 2);
    --gaps: calc(var(--spacing) * 1);
}

* {
    transition: color, background-color, font-weight, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

body {
    background: var(--clr-bg);
    color: var(--clr-txt-main);
}
